table, th, td 
{
    font: 17px Calibri;
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
    margin: 10px 0;
    text-align: center;
}
th {
    font-weight:bold;
}
p{
    text-align: center;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
